@import "variables";
@import "main";
@import "cards";
@import "float-dialog";
@import "footer";

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    row-gap: 2rem;
    grid-template-areas: "main main main"
        "c cards d"
        "e float-dialog f"
        "footer footer footer";
}

.button-pink {
    width: 100%;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    background: $Pink;
    color: #FFF;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    outline: none;

    &:hover {
        background: $DarkPink;
    }

    @media screen and (min-width: 768px) {
        width: 40%;
        height: 3.5rem;
    }
}

.heading-text {
    font-family: "Poppins";
}

.wrapper {
    margin-left: 5%;
    margin-right: 5%;
}